name: buspilot_mobile
description: BusPilot mobile app for route visibility and GPS support.
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_map: ^7.0.2
  geolocator: ^13.0.2
  intl: ^0.20.2
  latlong2: ^0.9.1
  supabase_flutter: ^2.8.0
  flutter_riverpod: ^2.6.1
  url_launcher: ^6.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
